
<title>My application</title>
  <h1>Encryption Algorithm</h1>

	Algorithm uses given integer arrays to shift characters of message and key.
	<br>
	It takes two arrays and two strings(message and key).
	<br>
	It shifts every char of message by array1[index], also shifts every char of key by array2[index].
	<br>
	Eventually, it gathers message and key with summing of ascii values of each index.
	<br>
  	Please enter described arguments to each blank:
	<br>
	- Space seperated integers to first blank.
	<br>
	- Message string that contains only letters to second blank.
	<br>
	- Space seperated integers to third blank.
	<br>
	- Key string that contains only letters to fourth blank.
    <br>
	<br>

	Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
		<textarea name="input4" rows="10" cols="30"></textarea>
		<br>
        <input type="submit">
  </form>

